In [82]:
"""ECE en pyton fait en 30 min /1h ez"""

link = "https://pixees.fr/informatiquelycee/term/ep/courant/09.pdf"
print(link)
    



import math

https://pixees.fr/informatiquelycee/term/ep/courant/09.pdf

In [83]:
def multiplication(n1,n2):
    nombre = 0
    for i in range (abs(n1)):
        if n1 < 0 and n2 < 0 : 
            for i in range (abs(n1)):
                nombre += abs(n2) 
            return nombre
        if n1 < 0 and n2 > 0:
            for i in range (abs(n1)):
                nombre += abs(n2) 
            return -nombre
        if n1 > 0 and n2 <0 :
            for i in range (abs(n1)):
                nombre += abs(n2) 
            return -nombre
        if n1 > 0  and n2 >0:
            for i in range (abs(n1)):
                nombre += abs(n2) 
            return nombre
        if n1 ==0 or n2==0 :
            return 0

In [37]:
multiplication(3,4)

12

In [38]:
multiplication(-4, -8)

32

In [39]:
multiplication(-2, 0)

0

In [40]:
multiplication(-2, 6)

-12

In [78]:
def dichotomie(tab, x):
    """
    tab : tableau d'entiers trieÃÅ dans l'ordre croissant
    x : nombre entier
    La fonction renvoie True si tab contient x et False sinon """
    
    debut = 0
    fin = len(tab) - 1
    while debut <= fin:
        m = (debut + fin)//2
        if x == tab[m]:
            return True 
        if x > tab[m]:
            debut = m + 1
        else:
            fin = m-1
    return False

In [79]:
dichotomie([15, 16, 18, 19, 23, 24, 28, 29, 31, 33],28)

True

In [80]:
dichotomie([15, 16, 18, 19, 23, 24, 28, 29, 31, 33],27)

False